# 1. Read CSV

In [12]:
import pandas as pd
df = pd.read_csv("personality_dataset.csv")

#   2. Print Top 5 rows of dataset:

In [5]:
df.head()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert

# 3. Print Bottom 5 rows of dataset:

In [6]:
df.tail()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
2895,3.0,No,7.0,6.0,No,6.0,6.0,Extrovert
2896,3.0,No,8.0,3.0,No,14.0,9.0,Extrovert
2897,4.0,Yes,1.0,1.0,Yes,4.0,0.0,Introvert
2898,11.0,Yes,1.0,NaN,Yes,2.0,0.0,Introvert
2899,3.0,No,6.0,6.0,No,6.0,9.0,Extrovert

# 4. Print Number of Rows and Columns in dataset:

In [7]:
print('rows: ', df.shape[0])
print('columns: ', df.shape[1])

rows:  2900
columns:  8

# 5. Print/Determine all the null columns in dataset:

In [8]:
df.isnull().sum()

Time_spent_Alone             63
Stage_fear                   73
Social_event_attendance      62
Going_outside                66
Drained_after_socializing    52
Friends_circle_size          77
Post_frequency               65
Personality                   0
dtype: int64

# 6. Filling null values using mean / median / mode:

In [9]:
df = df.fillna(df.mean)
df = df.fillna(df.median)
df = df.fillna(df.mode)

# 7. Print datatype of each column:

In [11]:
df.dtypes

Time_spent_Alone             object
Stage_fear                   object
Social_event_attendance      object
Going_outside                object
Drained_after_socializing    object
Friends_circle_size          object
Post_frequency               object
Personality                  object
dtype: object